.box.box-default.color-palette-box
  .box-header.with-border
    %h3.box-title
      %i.fa.fa-tag
      Color Palette
  .box-body
    .row
      .col-sm-4.col-md-2
        %h4.text-center Primary
        .color-palette-set
          .bg-light-blue.disabled.color-palette
            %span Disabled
          .bg-light-blue.color-palette
            %span #3c8dbc
          .bg-light-blue-active.color-palette
            %span Active
      / /.col
      .col-sm-4.col-md-2
        %h4.text-center Info
        .color-palette-set
          .bg-aqua.disabled.color-palette
            %span Disabled
          .bg-aqua.color-palette
            %span #00c0ef
          .bg-aqua-active.color-palette
            %span Active
      / /.col
      .col-sm-4.col-md-2
        %h4.text-center Success
        .color-palette-set
          .bg-green.disabled.color-palette
            %span Disabled
          .bg-green.color-palette
            %span #00a65a
          .bg-green-active.color-palette
            %span Active
      / /.col
      .col-sm-4.col-md-2
        %h4.text-center Warning
        .color-palette-set
          .bg-yellow.disabled.color-palette
            %span Disabled
          .bg-yellow.color-palette
            %span #f39c12
          .bg-yellow-active.color-palette
            %span Active
      / /.col
      .col-sm-4.col-md-2
        %h4.text-center Danger
        .color-palette-set
          .bg-red.disabled.color-palette
            %span Disabled
          .bg-red.color-palette
            %span #f56954
          .bg-red-active.color-palette
            %span Active
      / /.col
      .col-sm-4.col-md-2
        %h4.text-center Gray
        .color-palette-set
          .bg-gray.disabled.color-palette
            %span Disabled
          .bg-gray.color-palette
            %span #d2d6de
          .bg-gray-active.color-palette
            %span Active
      / /.col
    / /.row
    .row
      .col-sm-4.col-md-2
        %h4.text-center Navy
        .color-palette-set
          .bg-navy.disabled.color-palette
            %span Disabled
          .bg-navy.color-palette
            %span #001F3F
          .bg-navy-active.color-palette
            %span Active
      / /.col
      .col-sm-4.col-md-2
        %h4.text-center Teal
        .color-palette-set
          .bg-teal.disabled.color-palette
            %span Disabled
          .bg-teal.color-palette
            %span #39CCCC
          .bg-teal-active.color-palette
            %span Active
      / /.col
      .col-sm-4.col-md-2
        %h4.text-center Purple
        .color-palette-set
          .bg-purple.disabled.color-palette
            %span Disabled
          .bg-purple.color-palette
            %span #605ca8
          .bg-purple-active.color-palette
            %span Active
      / /.col
      .col-sm-4.col-md-2
        %h4.text-center Orange
        .color-palette-set
          .bg-orange.disabled.color-palette
            %span Disabled
          .bg-orange.color-palette
            %span #ff851b
          .bg-orange-active.color-palette
            %span Active
      / /.col
      .col-sm-4.col-md-2
        %h4.text-center Maroon
        .color-palette-set
          .bg-maroon.disabled.color-palette
            %span Disabled
          .bg-maroon.color-palette
            %span #D81B60
          .bg-maroon-active.color-palette
            %span Active
      / /.col
      .col-sm-4.col-md-2
        %h4.text-center Black
        .color-palette-set
          .bg-black.disabled.color-palette
            %span Disabled
          .bg-black.color-palette
            %span #111111
          .bg-black-active.color-palette
            %span Active
      / /.col
    / /.row
  / /.box-body
