

=render 'application/pageheader', title:'Monthly Detail Report'

%section.content
  .row
    .col-md-3
      .panel.panel-default
        .panel-heading
          %h4 Select a Month
        .panel-body
          %select.form-control.month-select
            - 12.times.each do |i|
              - dt = DateTime.now - (10 - i).months
              %option{value: dt.strftime("%Y-%m-%d"), selected: i == 10 }
                #{dt.strftime("%b %y")}




  .row
    .col-md-12
      %hr
      #results


:javascript

  function update_table() {
    $.ajax({
      url: "#{run_detail_report_tenant_path}",
      data: {
        day_in_month: $('.month-select').first().val()
      },
      success: function(data) {
        $('#results').html(data);
      }
    });
  }

  var ready = function() {
    update_table();
    $(document).on('change', '.month-select', update_table);
  }

  $(document).ready(ready);