

=render 'application/pageheader', title:'Detail Report'

%section.content
  .row
    .col-md-3
      .panel.panel-default
        .panel-heading
          %h4 Select the date range
        .panel-body
          .row
            .col-md-6
              %input.form-control.from-date.datepicker
            .col-md-6
              %input.form-control.to-date.datepicker

          .row
            .col-md-12
              %br
              =link_to 'Filter', '#', class:'btn btn-success run-report'




  .row
    .col-md-12
      %hr
      #results


:javascript

  function update_table() {
    $.ajax({
      url: "#{run_detail_report_tenant_path}",
      data: {
        from: $('.from-date').first().val(),
        to: $('.to-date').first().val(),
      },
      success: function(data) {
        $('#results').html(data);
      }
    });
  }

  var ready = function() {

    $(document).on('click', '.run-report', function(e){
      e.preventDefault();
      update_table();
    });

    $('.datepicker').datepicker({
      dateFormat:"yy-mm-dd"
    });
  }

  $(document).ready(ready);