- f = !local_assigns[:f].nil? ? f : local_assigns[:form]

.card.card-default
  .card-body
    .nested-fields
      = f.input :guest1_name, label: 'Guest 1 Name', input_html: { class: 'guest1_name'}
      = f.input :guest2_name, label: 'Guest 2 Name', input_html: { class: 'guest2_name'}
      = link_to_remove_association "Remove Room", f
