.some{ style: 'padding-top: 16px;'}
    .nested-fields
    .field
        = f.input :guest1_id, input_html: { class: 'guest_1_id'}
        = f.input :guest2_id, input_html: { class: 'guest_2_id'}
        -# = f.input :guest_1_full_name, input_html: { class: 'guest_1_full_name'}
        = link_to_remove_association "Remove Room", f
%hr    
