

%table.data-table-requests.stripe
  %thead
    %tr
      %th Requestor
      %th Dates
      %th Location
      -#%th Client
      %th Guests
      %th Created
      %th

  %tbody
    - models.each do |br|
      %tr
        %td
          =link_to br.requestor.full_name, user_path(br.requestor)
        %td #{br.dates_formatted}
        %td #{br.location_formatted}
        -#%td
          =link_to br.client_formatted, tenant_client_path(current_user.active_tenant, br.client)
        %td #{raw(br.rooms_formatted)}
        %td #{datetime_nice(br.created_at)}
        %td
          =link_to 'Edit', edit_booking_request_path(br), class:'btn btn-default'
          - if !br.is_booked?
            =link_to "Claim & Book", claim_and_book_booking_request_path(br), method: 'post', class:'btn btn-info'
            =link_to "Delete", booking_request_path(br), method: 'delete', data:{confirm: "Are you sure you wish to remove this booking request?"}, class:'btn btn-danger'
          - else
            =link_to "Booking", booking_path(br.booking), class:'btn btn-success'