
=render 'application/pageheader', title: @model.name

%section.content
  .container-fluid
    / Small boxes (Stat box)
    .row
      .col-lg-6.col-6
        / small box
        .small-box.bg-info
          .inner
            %h3 #{@model.assignee.try(:full_name)}
            %p Assignee
          .icon
            %i.ion.ion-bag
          -#%a.small-box-footer{:href => "#"}
            More info
            %i.fas.fa-arrow-circle-right


%hr

%section.content
  .container-fluid
    .row
      .col-lg-6.col-6
        =render 'application/showview', model: @model

- if !@model.is_booked?

  %section.content
    .container-fluid
      / Small boxes (Stat box)
      .row
        .col-lg-6.col-6
          =link_to "Book this Request", book_booking_request_path(@model), class:'btn btn-success'

