
= search_form_for q, url: request.url do |f|

  .row.mb-2
    .col-sm-12
      .form-group
        =f.label :booking_request_date_from_gteq, "Date From"
        =f.search_field :booking_request_date_from_gteq, class:'form-control datepicker'

      .form-group
        =f.label :booking_request_date_to_lt, "Date To"
        =f.search_field :booking_request_date_to_lt, class:'form-control datepicker'

      .form-group
        =f.label :booking_request_rooms_formatted_cont, "Guest Names Include"
        =f.search_field :booking_request_rooms_formatted_cont, class:'form-control'



  -#\# Attributes may be chained. Search multiple attributes for one value...
  -#\#{f.label :name_or_description_or_email_or_articles_title_cont}
  -#\#{f.search_field :name_or_description_or_email_or_articles_title_cont}
  -#


  .row.mb-2
    .col-sm-12
      =f.submit "Search", class: 'btn btn-success'
      =link_to 'Reset', completed_bookings_path, class:'btn btn-default'



:javascript

    var ready = function() {

    $('.datepicker').datepicker({
      dateFormat:"yy-mm-dd"
    });

  }

  $(document).ready(ready);