
%table.data-table-requests.stripe
  %thead
    %tr
      %th Customer
      %th Dates
      %th Location
      %th Client
      %th Assignee
      %th Serviced
      %th

  %tbody
    - models.each do |booking|
      - br = booking.booking_request
      %tr
        %td #{booking.requestor.full_name}
        %td #{br.dates_formatted}
        %td #{br.location_formatted}
        %td
          =link_to br.client_formatted, tenant_client_path(current_user.active_tenant, br.client)
        %td
          =link_to br.assignee.try(:full_name), user_path(br.assignee)
        %td
          =link_to datetime_nice(booking.created_at), booking_path(booking)
        %td
