
=render 'application/tableview', models: @models, title: "Folio Received", key: :bookings, has_filter: true, list_partial: 'bookings/folio_received', filter_reset_url: is_folio_received_bookings_path
