
=render 'application/pageheader', title: @model.title

%section.content
  .container-fluid
    / Small boxes (Stat box)
    .row
      .col-lg-3.col-3
        / small box
        .small-box.bg-info
          .inner
            %h3 Confirmation #s
            %p #{raw(@model.confirmation_numbers)}
          .icon
            %i.ion.ion-bag
          =link_to resend_email_booking_path(@model), class:'small-box-footer', method: :post do
            Re-send email
            %i.fas.fa-arrow-circle-right

      .col-lg-6.col-6
        / small box
        .small-box.bg-warning
          .inner
            %h3 #{@model.hotel.name}
            %p #{@model.hotel.address}
          .icon
            %i.ion.ion-bag
          %a.small-box-footer{href: tenant_hotel_path(@model.tenant, @model.hotel)}
            More info
            %i.fas.fa-arrow-circle-right


%hr

%section.content
  .container-fluid
    .row
      .col-lg-6.col-6
        - if @model.is_cancelled
          .alert.alert-danger
            Cancelled
        -if @model.is_no_show
          .alert.alert-danger
            No Show

        =render 'application/showview', model: @model, show_edit: false, title: 'Booking'

        - if @model.can_cancel
          =link_to 'Cancel', cancel_booking_path(@model), method: :post, class:'btn btn-danger'
        - if @model.can_no_show
          =link_to 'Assign as No Show', no_show_booking_path(@model), method: :post, class:'btn btn-danger'
      .col-lg-6.col-6
        =render 'application/showview', model: @model.booking_request, title: 'Booking Request'
