
= simple_form_for(model, as: :user, method: method_for_model(model), url: url_for_user_model(model)) do |f|

  .row.mb-2
    .col-sm-6
      - if model.errors.any?
        .alert.alert-danger
          #{model.errors.full_messages.join(', ')}

      =f.input :tenant_id, as: :hidden
      =f.input :client_id, as: :hidden
      =f.input :first
      =f.input :last
      =f.input :email

      - if f.object.is_client_based?
        =f.input :is_foreman

  .row.mb-2
    .col-sm-6
      =f.submit form_submit_label(model), class: 'btn btn-success'
