
= simple_form_for(model, as: :user, method: method_for_model(model), url: url_for_user_model(model)) do |f|

  .row.mb-2
    .col-sm-6
      - if model.errors.any?
        .alert.alert-danger
          #{model.errors.full_messages.join(', ')}

      =f.input :tenant_id, as: :hidden
      =f.input :client_id, as: :hidden
      =f.input :email
      =f.input :first
      =f.input :last
      =f.input :phone, label: 'Phone Number'
      =f.input :employee_id, label: 'Employee ID'

      - if f.object.is_client_based?
        =f.input :is_foreman
        =f.input :job_title
        =f.input :employment_status
        =f.input :cost_group
        =f.input :cost_center
        =f.input :termination_date, as: :string, input_html:{class:'datepicker'}
        =f.input :modified_date, as: :string, input_html:{class:'datepicker'}


  .row.mb-2
    .col-sm-6
      =f.submit form_submit_label(model), class: 'btn btn-success'


:javascript
  var ready = function() {

    $('.datepicker').datepicker({
      dateFormat:"yy-mm-dd"
    });

  };

  $(document).ready(ready);

