= simple_form_for(model, as: :user, method: :post, url: create_staff_users_path) do |f|

  .row.mb-2
    .col-sm-6
      - if model.errors.any?
        .alert.alert-danger
          #{model.errors.full_messages.join(', ')}

      =f.input :tenant, as: :hidden
      =f.input :first
      =f.input :last
      =f.input :email

  .row.mb-2
    .col-sm-6
      =f.submit "Create", class: 'btn btn-success'
