
=render 'application/pageheader', title: @model.full_name


- if @model.is_tenant_based?

  %section.content
    .container-fluid
      / Small boxes (Stat box)
      .row
        .col-lg-3.col-6
          / small box
          .small-box.bg-info
            .inner
              %h3 #{@model.assigned_bookings.count}
              %p Bookings Processed
            .icon
              %i.ion.ion-bag
            -#%a.small-box-footer{:href => "#"}
              More info
              %i.fas.fa-arrow-circle-right
        / ./col
        .col-lg-3.col-6
          / small box
          .small-box.bg-success
            .inner
              %h3 #{@model.assigned_booking_requests.outstanding.count}
              %p Queued Bookings
            .icon
              %i.ion.ion-stats-bars
            -#%a.small-box-footer{:href => "#"}
              More info
              %i.fas.fa-arrow-circle-right

- elsif @model.is_client_based?

  %section.content
    .container-fluid
      / Small boxes (Stat box)
      .row
        .col-lg-3.col-3
          / small box
          .small-box.bg-info
            .inner
              %h3 #{@model.requested_bookings.count}
              %p Booking Requests
            .icon
              %i.ion.ion-bag
            -#%a.small-box-footer{:href => "#"}
              More info
              %i.fas.fa-arrow-circle-right


        .col-lg-9.col-9
          =render 'application/tableview', models: @model.requested_booking_requests, title: "Requested Bookings", key: :booking_requests, has_filter: false


