= simple_form_for [model.tenant, model] do |f|

  .row.mb-2
    .col-sm-6
      - if model.errors.any?
        .alert.alert-danger
          #{model.errors.full_messages.join(', ')}

      =f.input :tenant, as: :hidden
      =f.input :name
      =f.input :billing_fee
      =f.input :domain

  .row.mb-2
    .col-sm-6
      =f.submit form_submit_label(model), class: 'btn btn-success'
