
%table.data-table-requests.stripe
  %thead
    %tr
      %th Name
      %th

  %tbody
    - models.each do |client|
      %tr
        %td #{client.name}
        %td
          =link_to "Show", tenant_client_path(current_user.active_tenant, client), class:'btn btn-info'
          =link_to "Edit", edit_tenant_client_path(current_user.active_tenant, client), class:'btn btn-info'