
=render 'application/pageheader', title: @model.name

%section.content
  .container-fluid
    / Small boxes (Stat box)
    .row
      .col-lg-3.col-6
        / small box
        .small-box.bg-info
          .inner
            %h3 #{@model.bookings.count}
            %p Bookings
          .icon
            %i.ion.ion-bag
          -#%a.small-box-footer{:href => "#"}
            More info
            %i.fas.fa-arrow-circle-right


%hr

%section.content
  .container-fluid
    .row

      .col-lg-6.col-6
        =render 'application/tableview', models: @model.users, title: "#{@model.name} Users", key: :client_users, should_show_breadcrumbs: false, new_link: new_client_user_users_path({client_id: @model.id})

      .col-lg-6.col-6
        =render 'application/showview', model: @model
