.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h4
          Internal Application Error - 500
      .panel-body
        .row
          .col-md-12
            %p
              Something unexpected went wrong, system administrators have been notified of the issue