
%table.data-table-requests.stripe
  %thead
    %tr
      %th First
      %th Last
      %th Email
      %th Booking Requests
      %th

  %tbody
    - models.each do |u|
      %tr
        %td #{u.first}
        %td #{u.last}
        %td #{u.email}
        %td #{u.requested_bookings.count}
        %td
          =link_to "Show", user_path(u), class:'btn btn-info'
          =link_to "Edit", edit_user_path(u), class:'btn btn-info'