- form_partial = local_assigns[:list_partial].nil? ? "#{key.to_s}/form" : list_partial
- show_view_models = local_assigns[:show_view_models].nil? ? [] : show_view_models

=render 'application/pageheader', title: title


%section.content
  .container-fluid
    .row
      - if show_view_models.any?
        .col-lg-6
          - show_view_models.each do |a|
            =render 'application/showview', model: a
            %hr


      .col-lg-6
        =render form_partial, model: model



:javascript

  var ready = function() {

  }

  $(document).ready(ready);
