
%section.content
  .container-fluid
    .row
      .col-lg-6
        .card
          .card-header
            =link_to "Edit", model.edit_path
          .card-body
            %ul.todo-list
              - model.show_map.each do |a|
                %li
                  %dl.row
                    %dt.col-sm-3 #{a[1]}
                    %dd.coll-sm-9 #{a[2].call(model.send(a[0]))}